<plugin_info>
    <plugin_name>Export CSV Plugin</plugin_name>
    <plugin_dir>ExportCSV.exe</plugin_dir>
    <plugin_description>Export a network saved in Hydra to a set of CSV files.</plugin_description>
    <plugin_epilog>
        Written by Philipp Meier philipp@diemeiers.ch
        (c) Copyright 2013, University College London.
        For more information visit www.hydra-network.com
    </plugin_epilog>
    <smallicon>icon16.png</smallicon>
    <largeicon>icon32.png</largeicon>
    <mandatory_args>
        <arg>
            <name>Network</name>
            <switch>-t</switch>
            <multiple>N</multiple>
            <argtype>network</argtype>
            <help>The ID of the network to be exported</help>
        </arg>
    </mandatory_args>
   <non_mandatory_args>
       <arg>
           <name>Scenario</name>
           <switch>-s</switch>
           <multiple>N</multiple>
           <argtype>scenario</argtype>
           <help>Specify the ID of the scenario to be exported. If no
                 scenario is specified, all scenarios in the network will be
                 exported.
            </help>
        </arg>
       <arg>
           <name>Output Folder</name>
           <switch>-o</switch>
           <multiple>N</multiple>
           <argtype>folder</argtype>
           <help>
               The folder where the set of csv files will be exported to.
               If not specified, will default to the Desktop.
            </help>
        </arg>
        <arg>
           <name>timezone</name>
           <switch>-z</switch>
           <multiple>N</multiple>
           <argtype>string</argtype>
           <help>Specify a timezone as a string following the
                        Area/Location pattern (e.g. Europe/London). This
                        timezone will be used for all timeseries data that is
                        imported. If you don't specify a timezone, it defaults
                        to UTC.</help>
        </arg>
        <arg>
            <name>server_url</name>
            <switch>-u</switch>
            <multiple>N</multiple>
            <argtype>string</argtype>
            <help>Specify the URL of the server to which this
                        plug-in connects.</help>
        </arg>
        <arg>
            <name>session_id</name>
            <switch>-c</switch>
            <multiple>N</multiple>
            <argtype>string</argtype>
            <help>Specify the session ID for the connection. If not specified,
            the plugin will try to connect based on the credentials it finds in config</help>
        </arg>
    </non_mandatory_args>
    <switches>
    </switches>
 </plugin_info>
